@import url(main.css);
/* header */
header{
    background-color: #d8dce4;
    height: 13.5vh;
}

.div-header{
    display: flex;
    justify-content: space-around;
    margin-left: 1.4vh;
}

.container header .image{
    width: 9.5vw;
    margin-right: 19vw;
    margin-top: 1.2vh;
    margin-left: -0.73vw;
}
.container header .image img{
    width: 104px;
}
/* nav header */
.ul-header{
    width: 38vw;
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
    list-style: none;
    font-weight:550;
}
.container a{
    text-decoration: none;
    padding: 11px;
    font-size: 16px;
    color: #947611;
}
#para-estudantes{
    border-radius: 4px;
    background-color: #10344c;
    color: #d8dce4;

}

/*pagina1 nathy*/
.divquetemtudo{
    display: flex;
    background-image: url(https://lh3.googleusercontent.com/pw/AM-JKLXn3pm-D8vyfcCQSHu6Fc5CteeDMOrzQuxP9dcByeIeTwakNUixEFgdIxkmZR72oKDOIeLW4HOI5xvNfBsOHr7HdxAOx11ZTssv55xcKZ97ynzWk1xecfpabjDJwqDucpitEBS6e78O_GrGKgk28gEo=w1000-h480-no?authuser=0);
    background-repeat: no-repeat;
    background-size: 143%;
    height: 130vh;
    background-position: -80px;
}
.headerparte1{
    width: 80%;
    margin-left: 200px;
    margin-top: 29vh;
    
}

.headerh2{
    margin-bottom: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 31px;
    text-transform: uppercase;
    width: 500px;
}
.headerparagraf{
    margin:30px;
    width: 400px;
    text-align: center;

}

.imagheader{
margin-top: 20px;
}
.imgheader2{
    margin-top: 29vh;

}

/* 
coisas da jujulilianana
*/

.img{

    left: 550px;
    bottom: 320px;
    right: 40px;
    float: left;
}
.somos{

    margin-top: 100px;
    margin-left: 60px;
    
}

.div-button{
    position: relative;
    margin-top: 24vh;
    margin-left: 30vw;
}
#btn-veja{
    padding: 15px 30px ;
    border-radius: 3px;
    border-color: blue;
}


footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 59vh;
    border: 2px solid black;
    color: white;
    background-color: #405464;
}
footer a{
    color: white;
}
.logo-footer{
    width: 200px;
}
.itens-estudante{
    margin: 14px;
}
ul{
    font-size: 17px;
    font-weight:500;
}
#calem-se{
    display: flex;
    justify-content: space-around;
    margin-top: 8vh;
    width: 95vw;
}
#calado{
    margin-top: auto;
}
#perg-fre{
    margin: auto 0px auto 0px;
}